@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	font-family: "Poppins";
}

textarea {
	resize: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.inter {
	font-family: "Inter";
}

.poppins {
	font-family: "Poppins";
}

.league-spartan {
	font-family: "League Spartan";
}

.crimson-pro {
	font-family: "Crimson Pro";
}

.playfair-display {
	font-family: "Playfair Display";
}

.scroll-bar {
	scrollbar-color: #6b7280 transparent;
}
