@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	font-family: "Poppins";
}

.inter {
	font-family: "Inter";
}

.poppins {
	font-family: "Poppins";
}

.league-spartan {
	font-family: "League Spartan";
}

.crimson-pro {
	font-family: "Crimson Pro";
}

.playfair-display {
	font-family: "Playfair Display";
}
