@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	font-family: "Poppins";
}

textarea {
	resize: none;
}

.inter {
	font-family: "Inter";
}

.poppins {
	font-family: "Poppins";
}

.league-spartan {
	font-family: "League Spartan";
}

.crimson-pro {
	font-family: "Crimson Pro";
}

.playfair-display {
	font-family: "Playfair Display";
}

.scroll-bar-light {
	scrollbar-color: #374151 #111827;
}

.scroll-bar-dark {
	scrollbar-color: #374151 #111827;
}
